# Ignore everything except very few save files I gitta keep
/*
!.gitignore
!.Xresources
!.zshrc
!.i3/
!.config
.config/*
!.config/polybar/
!.config/rofi/
!.local
.local/*
!.local/bin
.local/bin/*
!.local/bin/spotistat
