! urxvt

URxvt*scrollTtyOutput: false
URxvt*scrollWithBuffer: true
URxvt*scrollTtyKeypress: true

!URxvt*font: -*-terminesspowerline-medium-*-*-*-14-*-*-*-*-*-iso10646-1

URxvt*font: -*-terminus-medium-*-*-*-14-*-*-*-*-*-iso10646-1
URxvt.color12: rgb:5c/5c/ff

URxvt.perl-ext-common: default,matcher,selection-to-clipboard
URxvt.url-launcher: /usr/bin/xdg-open
URxvt.matcher.button: 1


URxvt*geometry:  120x44
URxvt*loginShell:  true
URxvt*scrollBar:  false
URxvt*fading:  45
URxvt*visualBell:  true

urxvt*dynamicColors: on

! special
*.foreground:   #ffffff
*.background:   #463b40
*.cursorColor:  #ffffff

! black
*.color0:       #000000
*.color8:       #4d4d4d

! red
*.color1:       #cc0403
*.color9:       #3e0605

! green
*.color2:       #19cb00
*.color10:      #23fd00

! yellow
*.color3:       #cecb00
*.color11:      #fffd00

! blue
*.color4:       #001cd1
*.color12:      #0026ff

! magenta
*.color5:       #cb1ed1
*.color13:      #fd28ff

! cyan
*.color6:       #0dcdcd
*.color14:      #14ffff

! white
*.color7:       #e5e5e5
*.color15:      #ffffff

!rofi
rofi.modi:                           window,run,ssh
rofi.width:                          50
rofi.lines:                          25
rofi.columns:                        1
rofi.font:			                     Terminus 11
rofi.color-enabled:                  true
rofi.color-window: argb:ff19314F, argb:ff23599F, #D82D13
rofi.color-normal: argb:00000000, #0FCFBE, argb:00ffffff, #D82D13, #EABC2E

rofi.bw:                             0
rofi.location:                       0
rofi.padding:                        3
rofi.yoffset:                        0
rofi.xoffset:                        0

rofi.fixed-num-lines:                true
rofi.terminal:                       urxvt
rofi.ssh-client:                     ssh
rofi.ssh-command:                    {terminal} -e {ssh-client} {host}
rofi.run-command:                    {cmd}
rofi.run-list-command:
rofi.run-shell-command:              {terminal} -e {cmd}
rofi.disable-history:                false
rofi.levenshtein-sort:               false
rofi.case-sensitive:                 false
rofi.sidebar-mode:                   false

rofi.fuzzy:                          false
rofi.glob:                           false
rofi.regex:                          false

rofi.line-margin:                    2
rofi.separator-style:                solid
rofi.hide-scrollbar:                 false
rofi.fullscreen:                     false
rofi.scrollbar-width:                8
! Scrolling method. (0: Page, 1: Centered)
rofi.scroll-method:                  0
